---
---

<!DOCTYPE html>
<html lang="en">
  {% include header.html %}

  <body>
    {% include navbar.html %} 
    {% include profile.html %} 
    {% include description.html %} 
    {% include projects.html %} 
    {% include toggle.html %}
    {% include stats.html %}
    {% include map.html %}

    <script src="./assets/js/accessToken.js"></script>
    <script src="./assets/js/variables.js"></script>
    <script src="./assets/js/api.js"></script>
    <script src="./assets/js/dom.js"></script>
    <script src="./assets/js/index.js"></script>
</body>
    {% include footer.html %}
</html>
