<head>
  <link
    href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
    rel="stylesheet"
  />
</head>
<div class="des-container">
  <h2 class="des-h">Meet Our Pod</h2>
  <div class="card-container">
    {% for item in site.data.fellows %}
    <div class="card">
      <div class="info">
        <img src="./assets/img/{{ item.img }}">
        <p class="title">{{ item.name }}</p>
        <p class="location">{{ item.location }}</p>
        {% if site.data.social-media %}
        <div id="social-media">
          {% assign sm = site.data.social-media %} {% for entry in sm %} {%
          assign key = entry | first %} {% if item.social-media[key] %} {%
          assign id = item.social-media[key] %}
          <a href="{{ sm[key].href }}{{ id }}" title="{{ sm[key].title }}"
            ><i class="fa {{ sm[key].fa-icon }}"></i
          ></a>
          {% endif %} {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
