<footer id="p-1 sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <section class="section-footer pb-5 mb-0" style="margin-left: 5%;">
        <div class="row">
            <div class="col-3 sm-12 text-center">
                <img class="w-75"src="assets/img/mlh-prep.png">
                <h5>Pod 4.1.1</h5>
                <h5>Arch Eagles</h5>
            </div>

            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="mt-4">
                           <h3 class="footer-links-header">  <strong>IMPORTANT LINKS</strong></h3>
                            <ul class="list-unstyled footer-link mt-3">
                                <li><a href="https://mlh.io/about" class="text-white">About</a></li>
                                <li><a href="https://stories.mlh.io/" class="text-white">Blogs</a></li>
                                <li><a href="#social" class="text-white">Socials</a></li>
                                <li><a href="#projects" class="text-white">Projects</a></li>
                            </ul>
                        </div>
                    </div>

            
                    <div class="col-lg-4">
                        <div class="mt-4">
                            <h3 class="footer-links-header">  <strong>PROGRAMS</strong></h3>
                            <ul class="list-unstyled footer-link mt-3">
                                <li><a class="text-white" href="https://fellowship.mlh.io/programs/prep">Prep</a></li>
                                <li><a class="text-white" href="https://fellowship.mlh.io/programs/open-source">Open Source</a></li>
                                <li><a class="text-white" href="https://fellowship.mlh.io/programs/production-engineering">Production Engineering</a></li>
                                <li><a class="text-white" href="https://fellowship.mlh.io/programs/software-engineering">Software Engineering</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="mt-4">
                            <h3 class="footer-links-header">  <strong>RESOURCES</strong></h3>
                        <ul class="list-unstyled footer-link mt-3">
                            <li><a class="text-white" href="http://mlh.io/code-of-conduct">Code of Conduct</a></li>
                            <li><a class="text-white" href="http://mlh.io//faq">Faq</a></li>
                            <li><a class="text-white" href="mailto:fellowship@mlh.io">Contact</a></li>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <p style="font-size: 15px; margin-top: 1%;">Made with <i class="fa fa-heart" aria-hidden="true"></i> by MLH Fellows</p>
                </div>
            </div>
        </div>
    </section>
  </footer>