<footer id="p-1 sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50 text-center">
    <div class="row text-center">
        
        <div class="col-3 sm-12">
            <img class="w-75"src="assets/img/mlh-prep.png">
            <h5>Pod 4.1.1</h5>
            <h5>Arch Eagles</h5>
        </div>
        <div class="col-3 sm-12">
            <strong><h2> IMPORTANT LINKS</h2></strong>
            <ul class="list-unstyled">
                <li><a href="https://mlh.io/about" class="text-white">About</a></li>
                <li><a href="https://stories.mlh.io/" class="text-white">Blogs</a></li>
                <li><a href="" class="text-white">Socials</a></li>
                <li><a href="" class="text-white">Projects</a></li>
             </ul>
             
            
            
        </div>
        <div class="col-3 sm-12">
            <strong><h2 class="footer-links-header"> PROGRAMS</h2></strong>
            <ul class="list-unstyled">
                <li><a class="text-white" href="https://fellowship.mlh.io/programs/prep">Prep</a></li>
                <li><a class="text-white" href="https://fellowship.mlh.io/programs/open-source">Open Source</a></li>
                <li><a class="text-white" href="https://fellowship.mlh.io/programs/production-engineering">Production Engineering</a></li>
                <li><a class="text-white" href="https://fellowship.mlh.io/programs/software-engineering">Software Engineering</a></li>
               </ul>

        </div>
        <div class="col-3 sm-12">
            <strong><h2 class="footer-links-header"> RESOURCES</h2></strong>
            <ul class="list-unstyled">
                <li><a class="text-white" href="http://mlh.io/code-of-conduct">Code of Conduct</a></li>
                <li><a class="text-white" href="http://mlh.io//faq">Faq</a></li>
                <li><a class="text-white" href="mailto:fellowship@mlh.io">Contact</a></li>

        </div>
        
        </div>
      <small>Made with <i class="fa fa-heart" aria-hidden="true"></i> with MLH Fellows</small>
    </div>
  </footer>