.des-container {
    .card-container {
    position: relative;
    margin-top: 50%;
    }

    .des-h {
        font-size: 2.8rem !important;
        color: #133667 !important;
        text-align: center;
        font-weight: 600;
    }
}
