#map {
    border:5px double black;
    height: 700px; 
    border-radius: 20px;
    width:70%;
    margin-bottom: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.marker {
    border-radius: 50%;
    border:2px solid black
}