.nav-bar {
    width: 100%;
    background-color: #133667;
    font-family: "Poppins", serif;
    font-weight: 700 !important;
    padding-top: 10px;
    position: fixed;
    top:-100px;     // shifting above the window
    transition: 0.3s top ease;      // for animation
    z-index: 1;     // to make the navbar come at the front
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: left;
    justify-content: left;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
}
.blog {
    position: absolute;
    right: 30px;
    top: 10px;
    color: white;
}

.blog:hover {
    box-shadow:  0px 10px -14px 14px #FFF;
    color: whitesmoke;
    transition: 3s top ease;
}

