.checkbox {
  opacity: 0;
  position: absolute;
  right: 50px;
  top: 50px;
}

.label {
  width: 50px;
  height: 26px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
}

.fa-sun {
  color: yellow;
}

#toggle-container {
  position: absolute;
  top: 15px;
  right: 25px;
  z-index: 10;
}

@media only screen and (max-width: 1500px) {
  #toggle-container {
    top: 2vh;
    right: 2vw;
  }
}

@media only screen and (max-width: 1000px) {
  #toggle-container {
    top: 2vh;
    right: 2vw;
  }
}

@media only screen and (max-width: 768px) {
  #toggle-container {
    top: 25px;
    right: 20px;
  }
}
