---
---
<!DOCTYPE html>
<html lang="en">
{% include header.html %}
<link rel="stylesheet" href="styles.css">

<body>
    {% include navbar.html %}

    <div id="leaderboard-heading">
        <h4 class="commit-count-heading">Commit Leaderboard for
            <br/>
            <a class="link" id="target-repo-link"></a>
        </h4>

        <h5>Total Commits:- 
            <span id="total-commit-count"></span>
        </h5>
        
    </div>
    <div id="stats-list"></div>
    
    <script src="./scripts/config.js"></script>
    <script src="./scripts/variables.js"></script>
    <script src="./scripts/api.js"></script>
    <script src="./scripts/dom.js"></script>
    <script src="./scripts/index.js"></script>
</body>

</html>